.registerPageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    font-family: Helvetica, sans-serif;
    background-image: linear-gradient(to bottom, rgba(244, 242, 237, 0.4), rgba(244, 242, 237, 0.4)), url('../../../assets/Login_Register/bg_login_register.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.registerBox {
    padding: 30px;
    width: 400px;
    color: #b08f7a;
    text-align: center;
    border: 2px solid #b08f7a;
    border-radius: 0;
    background: #f4f2ed;
}

    .registerBox * {
        box-sizing: border-box;
    }

    .registerBox h2 {
        font-size: 42px;
        font-weight: 900;
        margin-bottom: 30px;
        color: #b08f7a;
    }

.inputGroup {
    margin: 30px 0;
    position: relative;
}

    .inputGroup label {
        display: block;
        margin-bottom: 5px;
        color: rgba(255, 255, 255, 0.8);
        font-size: 14px;
    }

.inputWrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.inputGroup input {
    width: 100%;
    padding: 12px 12px 12px 50px;
    border: 2px solid #b08f7a;
    border-radius: 0;
    background: transparent;
    color: #b08f7a;
    font-size: 14px;
}

    .inputGroup input::placeholder {
        color: #b08f7a;
        font-weight: 600;
    }

    .inputGroup input:focus::placeholder {
        opacity: 0;
    }

.inputIcon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #b08f7a;
    font-size: 20px;
    pointer-events: none;
}

    .inputIcon::after {
        content: '';
        position: absolute;
        left: 100%;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 24px;
        background: #b08f7a;
        margin-left: 5px;
    }

.errorMessage,
.errorMessageField {
    color: red;
    margin: 5px 0 10px;
    font-size: 14px;
}

.inputError {
    border: 2px solid red !important;
}

.registerButton {
    width: 100%;
    padding: 12px;
    background: transparent;
    border: 2px solid #b08f7a;
    border-radius: 0;
    color: #b08f7a;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    margin-top: 30px;
}

    .registerButton:hover {
        background: #b08f7a;
        color: black;
    }

.loginLink {
    margin-top: 10px;
    text-align: center;
    color: #b08f7a;
    font-size: 14px;
    font-family: Helvetica, sans-serif;
}

    .loginLink a {
        color: #b08f7a;
        text-decoration: none;
        font-weight: 600;
    }

        .loginLink a:hover {
            text-decoration: underline;
            color: #b08f7a;
        }

/* Responsive Design */

/* For Tablets and Small Laptops */
@media (max-width: 1024px) {
    .registerBox {
        width: 80%;
        padding: 25px;
    }

        .registerBox h2 {
            font-size: 38px;
            margin-bottom: 25px;
        }

    .inputGroup input {
        font-size: 16px;
    }

    .registerButton {
        font-size: 16px;
        padding: 14px;
        margin-top: 25px;
    }

    .loginLink {
        font-size: 12px;
    }
}

/* For Phones and Smaller Tablets */
@media (max-width: 768px) {
    .registerBox {
        width: 90%;
        padding: 20px;
    }

        .registerBox h2 {
            font-size: 36px;
            margin-bottom: 20px;
        }

    .inputGroup input {
        font-size: 16px;
    }

    .registerButton {
        font-size: 16px;
        padding: 14px;
        margin-top: 20px;
    }

    .loginLink {
        font-size: 12px;
    }
}

/* For Phones */
@media (max-width: 480px) {
    .registerBox {
        width: 95%;
        padding: 15px;
    }

        .registerBox h2 {
            font-size: 30px;
            margin-bottom: 15px;
        }

    .inputGroup input {
        font-size: 14px;
    }

    .registerButton {
        font-size: 14px;
        padding: 12px;
        margin-top: 15px;
    }

    .loginLink {
        font-size: 12px;
    }
}
