/* styles/Login.css */
/* CSS for Login Page */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    /* background-color: #f4f4f4; */
}

.login-page {
    width: 400px;
    height: 350px;
    margin: 0 auto;
    padding: 2rem;
    background: white;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

    .login-page h2 {
        font-size: 2rem;
        margin-bottom: 1.5rem;
        color: #2c2c2c;
    }

.input-group { /* Replaced form-group with input-group */
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1.5rem;
}

    .input-group label { /* Fixed label1 to label */
        font-size: 1rem;
        margin-bottom: 0.5rem;
        font-weight: normal;
        color: #2c2c2c;
    }

    .input-group input {
        padding: 0.5rem; /* Slightly less padding to match the input size in the image */
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 1rem;
    }

.login-button {
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    background: #b8860b;
    color: whitesmoke;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

    .login-button:hover {
        background-color: #e0e0e0;
    }

.error-message {
    color: red;
    margin-bottom: 1rem;
}

.success-message {
    color: green;
    margin-bottom: 1rem;
}
