#root {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
    padding: 0; /* Remove padding to eliminate gap above navbar */
}

.content-wrapper {
    padding: 2rem; /* Apply padding to content below the navbar */
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}
